<!DOCTYPE html?
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>goodfoodtracker</title>
</head>
<body>
    <center>
    <a href="/">Home</a> |
    <a href="/phouse">PHExpress</a> |
    <a href="/mangu">D'Mangu</a> |
    <a href="/chicken">Just Chicken</a> |
    <a href="/tandoor">Tandoor Grill</a> |
    <a href="/sushi">California Sushi</a> |
    <a href="/revolution">Revolution Chinese</a> |
    <a href="/lowandslow">Low & Slow</a>
      </center>
    <center><h1>Good food is waiting for you!</h1></center>
    <center><img src="{{user_image}}" alt="Good food is waiting" height="640px" width="640px"></center>
</body>
</html>