<!DOCTYPE html?
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>goodfoodtracker</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/phouse">PHExpress</a></li>
        <li><a href="contact.asp">D'Mangu</a></li>
        <li><a href="about.asp">About</a></li>
      </ul>
    <center><h1>Good food is waiting for you!</h1></center>
    <center><img src="{{user_image}}" alt="Good food is waiting" height="640px" width="640px"></center>
</body>
</html>