<!DOCTYPE html?
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>goodfoodmap</title>
</head>
<body>
    <center><h1>Where is good food?</h1></center>
    <center><img src="{{user_image}}" alt="location" height="1080px" width="1920px"></center>
    <center><h1>Pakistan House Schedule:</h1>
                <h3>Monday: RITz (11am - 2pm)</h3>
                <h3>Tuesday: Crossroads (11am - until supplies last)</h3>
                <h3>Wednesday: Brick City Cafe (11am - 2pm) RITz (4pm - 7pm)</h3>
                <h3>Thursday: Crossroads (4pm - until supplies last)</h3>
                <h3>Friday: Closed</h3> 
                <h3>Saturday: Closed</h3> 
                <h3>Sunday: Closed</h3>   
    </center>
</body>
</html>