<!DOCTYPE html?
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>goodfoodmap</title>
</head>
<body>
    <center>
        <a href="/">Home</a> |
        <a href="/phouse">PHExpress</a> |
        <a href="/mangu">D'Mangu</a> |
        <a href="/chicken">Just Chicken</a> |
        <a href="/tandoor">Tandoor Grill</a> |
        <a href="/sushi">California Sushi</a> |
        <a href="/revolution">Revolution Chinese</a> |
        <a href="/lowandslow">Low & Slow</a>
          </center>
    <center><h1>Where is good food?</h1></center>
    <center><img src="{{rev_map}}" alt="location" height="1080px" width="1920px"></center>
    <center><h1>Revolution Chinese Schedule:</h1>
                <h3>Monday: Closed</h3>
                <h3>Tuesday: Commons (11am - 2pm) RITz (4pm - 7pm)</h3>
                <h3>Wednesday: Commons (4pm - 7pm)</h3>
                <h3>Thursday: Closed</h3>
                <h3>Friday: Closed</h3>   
                <h3>Saturday: Commons (11am - 2pm), (4pm - 7pm)</h3> 
                <h3>Sunday: Crossroads (4pm - 7pm)</h3> 

    </center>
</body>
</html>