<!DOCTYPE html?
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>goodfoodmap</title>
</head>
<body>
    <center><h1>Where is good food?</h1></center>
    <center><img src="{{tandoor_map}}" alt="location" height="1080px" width="1920px"></center>
    <center><h1>Tandoor Schedule:</h1>
                <h3>Monday: Crossroads (11am - 2pm) RITz (4pm - 7pm)</h3>
                <h3>Tuesday: RITz (11am - 2pm) Crossroads (4pm - 7pm)</h3>
                <h3>Wednesday: Closed</h3>
                <h3>Thursday: Brick City Cafe (11am - 2pm)</h3>
                <h3>Friday: Closed</h3>   
                <h3>Saturday: Closed</h3> 
                <h3>Sunday: Closed</h3> 
    </center>
</body>
</html>